# all tabular files
**.csv
**.tsv
**.xlsx
**.xls

# virtual environment
**.venv/

# zip files
**.zip
**.tar.gz
**.tar

# DS_Store files
**.DS_Store

**doc/**
**plots/**
src/RawLearning.py
.ipynb_checkpoints/
src/.ipynb_checkpoints/
src/Galaxy10.h5 

tex/**
!tex/main.tex